# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env

# Django
*.sqlite3
/staticfiles/
/media/

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
*.log
migrations/

# Virtual environment
venv/



# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
*.log
migrations/

# Virtual environment
venv/
